body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

p {
  text-align: justify;
}

.outputLabels {
  font-weight: bold;
}

input {
  display: block;
  border: 1px solid #777;
  margin: 5px 0 20px;
  width: 70%;
  font-size: 2em;
}

label {
  font-weight: bold;
}

button {
  background-color: #000;
  color: #fff;
  font-size: 1em;
}

div {
  margin: 20px 0 20px;
}
